{% extends "base.html" %}
{% block title %}Sign-in{% endblock %}
{% block styles %}
<link href="{{ url_for('static', filename='css/themes/courses-recommender/signin.css') }}" rel="stylesheet">
{% endblock %}
{% block navbar %}{% endblock %}
{% block content %}
<div class="text-center w-100">
    {% if error %}
    <div class="alert alert-danger"><strong>Error:</strong> {{ error }}</div>
    {% endif %}
    <form class="form-signin" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <div class="form-group">
            <label for="user" class="sr-only">User</label>
            <select class="form-control" id="user" name="user">
                <option>Select User</option>
                {% for user in users %}
                <option value="{{user}}">User {{loop.index}}</option>
                {% endfor %}
            </select>
        </div>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; Courses Recommendations 2019-2020</p>
    </form>
</div>
{% endblock %}
{% block footer %}{% endblock %}
